:root {
  /* CSS HEX */
  --lapis-lazuli: #2f6690ff;
  --cerulean: #3a7ca5ff;
  --platinum: #d9dcd6ff;
  --indigo-dye: #16425bff;
  --sky-blue: #81c3d7ff;
}


@media screen and (max-width: 1441px) {
  :root {

  }
}

@media screen and (max-width: 1281px) {
  :root {

  }
}

@media screen and (max-width: 1024px) {
  :root {

  }
}

@media screen and (max-width: 768px) {
  :root {

  }
}

.page {
    font-family: 'TildaSans', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

html, body, main {

}

#logo {
  display: none!important;
}